{% extends "base.html" %}


{% block content %} 
    <h2>{{ title }}</h2>

    {% for object in object_list %}
        <article>
                {% if object.image %}
                            <img class="right" src="{{ object.image.url }}" class="img-responsive">
                {% endif %}
                    <h3>
                        <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
                        <small>{{ object.timestamp|timesince }}</small>
                    </h3>
                    <p>{{ object.content|linebreaks|truncatechars:120 }}</p>
        </article>
    {% endfor %}
{% endblock %}