{% extends "base.html" %}


{% block content %} 
    <h2>{{ title }}</h2>


    <div class="">
            {% if object.image %}
                        <img src="{{ object.image.url }}" class="img-responsive">
            {% endif %}
                <h3>
                    <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
                    <small>{{ object.timestamp }}</small>
                </h3>
                <p>{{ object.content }}</p>
        </div>
    </div>

{% endblock %}
